html,
body,
#root {
    margin: 0;

    /* THEME SETTINGS */
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(0, 23, 99);
    --secondary: rgba(0, 255, 242, 0.973);
    --light-bg: rgb(205, 255, 214);
}
