html,
body,
#root {
    margin: 0;

    /* THEME SETTINGS */
    /*   --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for 
    --primary: rgb(0, 23, 99);
    --secondary: rgba(0, 255, 242, 0.973);
    --light-bg: rgb(205, 255, 214); */
}
.dark-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(0, 49, 82);
    --secondary: rgba(140, 185, 206, 0.973);
    --light-bg: rgb(130, 247, 255);
}
.light-theme {
    --black: #010606;
    --light-text: #000000;
    --dark-text: rgb(58, 58, 58);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(85, 182, 185);
    --secondary: rgb(104, 250, 255);
    --light-bg: rgb(181, 250, 221);
}
