html,
body,
#root {
    margin: 0;

    /* THEME SETTINGS */
    /*   --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for 
    --primary: rgb(0, 23, 99);
    --secondary: rgba(0, 255, 242, 0.973);
    --light-bg: rgb(205, 255, 214); */
}
.dark-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(0, 49, 82);
    --secondary: rgba(0, 174, 255, 0.973);
    --light-bg: rgb(130, 247, 255);
}
.default-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgba(0, 0, 0);
    --secondary: rgba(11, 255, 85, 0.973);
    --light-bg: rgb(205, 255, 214);
}
.red-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(99, 0, 0);
    --secondary: rgba(255, 169, 169, 0.973);
    --light-bg: rgb(255, 241, 241);
}
.green-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(1, 71, 13);
    --secondary: rgba(37, 255, 8, 0.973);
    --light-bg: rgb(166, 255, 182);
}
.blue-theme {
    --black: #010606;
    --light-text: #f7f8fa;
    --dark-text: rgb(0, 0, 0);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(0, 12, 175);
    --secondary: rgba(143, 163, 255, 0.973);
    --light-bg: rgb(144, 233, 255);
}
.light-theme {
    --black: #010606;
    --light-text: #000000;
    --dark-text: rgb(255, 255, 255);
    /* The BG defines most of the theme */
    /* Primary covers primary color for */
    --primary: rgb(0, 122, 126);
    --secondary: rgba(0, 199, 206, 0.973);
    --light-bg: rgb(121, 251, 255);
}
p #nestedP {
    color: blue;
}
#nestedP {
    color: red;
}
